.carousel-caption {
  text-align: left !important;
  left: 8% !important;
}

.navigation {
  background-color: #224379;
}

.navigation a {
  color: #fff;
}

.navigation a:hover {
  color: #fff;
}

.navigation .navbar-nav a:hover {
  color: #fff;
  opacity: 0.8;
}

.navigation .navbar-nav a:focus {
  color: #fff;
}

.dropdown-divider {
  margin: 0 !important;
}
